#listGiver{
    position: fixed;
    width:100%;
    height:100%;
    background:#e6b7c1;
    z-index:-1;
}
#listGiverDescription{
    font-size:12px;
}
#listGiverTitle{
    position:relative;
    top:11%;
}
#giverPicture{
    width:200px;
    padding:20px;
    object-fit:contain;
}
#giverContainer{
    display:flex;
    flex-flow: row wrap;
    position:relative;
    margin: 10px auto;
    top:10%;
}
#giverContainer>*{
    margin: auto;
}
.giverProfile{
    display: flex;
    width: 530px;
    height: 200px;
    background:#9B726D;
    color:white;
    margin: 20px 50px;
    flex-flow: row nowrap;
}

.giverWords{
    margin: auto 0;
    height: 180px;
    display:flex;
    flex-flow: column nowrap;
}
.giverWords>*{
    margin:5px;
}
.giverName{
    margin:20px 0;
}
.listGiverPageChangeButton{
    position: fixed;
    top: 80%;
    background: rgba(0,0,0,0.3);
    color: white;
    border: none;
    font-size: 22px;
    padding: 5px;
    margin:05px;
}
#listNextButton{
    right:50%;
    margin-right:20px;
}
#listPrevButton{
    right:50%;
    margin-right:-100px;
}
#pageCount{
    position:fixed;
    top:75%;
    right:50%;
    margin-right:-20px;
}