#seekerLogin{
    position: fixed;
    width:100%;
    height:100%;
    background:#e6b7c1;
    z-index:-1;
}
#seekerLoginReg{
    position: fixed;
    font-size: 30px;
    right: 30%;
    top: 35%;
    margin-top: -15px;
    width: 250px;
    opacity:1;
    transition: top 0.5s ease-out, opacity 0.5s ease-out;
    animation: fadein 0.5s ease-in;
}
#seekerLoginSign{
    position: fixed;
    font-size: 30px;
    right: 30%;
    top: 50%;
    margin-top: -15px;
    width: 250px;
    opacity:1;
    transition: top 1s ease-out, opacity 0.5s ease-out;
    animation: fadein 0.5s ease-in;
}
@keyframes fadein{
    0%{
        opacity: 0;
    }
}
#seekerLoginSeekerWord{
    position:fixed;
    width:200px;
    height:200px;
    pointer-events: none;
    color: white;
    font-size: 40px;
    margin-bottom: -70px;
    bottom: 45%;
    left: 30%;
}