#seekerSign{
    position: fixed;
    width:100%;
    height:100%;
    background:#e6b7c1;
    z-index:-1;
}
#seekerSignSeekerWord{
    position:fixed;
    width:200px;
    height:200px;
    pointer-events: none;
    color: white;
    font-size: 40px;
    margin-bottom: -70px;
    bottom: 45%;
    opacity:1;
    transition: left 1.5s ease-in, opacity 1s ease-in;
}
#seekerSignSign{
    position: fixed;
    font-size: 30px;
    right: 30%;
    top: 25%;
    margin-top: -15px;
    width: 250px;
    transition: right 1.5s ease-in, opacity 1s ease-in;
    opacity:1;
}
#seekerSignForm{
    display: flex;
    flex-flow: row wrap;
    position: fixed;
    top: 31%;
    right: 30%;
    margin-right: 25px;
    width: 200px;
    transition: right 1.5s ease-in, opacity 1s ease-in;
    animation: fadein 0.5s ease-in;
}
@keyframes fadein{
    0%{
        opacity: 0;
    }
}
#seekerSignForm>*{
    font-size:20px;
    padding: 10px;
    width: 180px;
    margin: 5px auto;
    border: none;
    background: rgba(255,255,255,0.9)
}
#seekerSignSubmit{
    margin-top: 20px;
    width: 200px;
    background:#7cb2d1;
}