#seekerEditProfile{
    position: fixed;
    height: 100%;
    width: 100%;
    background:#e6b7c1;
    color:white;
    text-transform: capitalize;
}
#giverEditProfile{
    position: fixed;
    height: 100%;
    width: 100%;
    background:#593780;
    color:white;
    text-transform: capitalize;
}
