@import url('https://fonts.googleapis.com/css?family=Amatic+SC');
*{
  text-align: center;
  font-family: 'Amatic SC', cursive;
  font-weight: 800;
  letter-spacing: 1px;
}
body{
  background: #7cb2d1;
}